<script src="~/js/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {

        $('#buttonDemo').click(function () {
            $.ajax({
                type: 'GET',
                url: '/ajax/demo1',
                success: function (data) {
                    $('#result1').html(data);
                }
            });
        });

        $('#buttonDemo2').click(function () {
            $.ajax({
                type: 'POST',
                url: '/ajax/demo2',
                success: function (data) {
                    $('#result2').html(data);
                }
            });
        });

        $('#buttonDemo3').click(function () {
            var fullName = $('#textboxFullName').val();
            $.ajax({
                type: 'GET',
                data: {
                    name: fullName
                },
                url: '/ajax/demo3',
                success: function (data) {
                    $('#result3').html(data);
                }
            });
        });

        $('#buttonDemo4').click(function () {
            var fullName = $('#textboxFullName4').val();
            $.ajax({
                type: 'GET',
                url: '/ajax/demo4/' + fullName,
                success: function (data) {
                    $('#result4').html(data);
                }
            });
        });

        $('#buttonDemo5').click(function () {
            var fullName = $('#textboxFullName5').val();
            $.ajax({
                type: 'POST',
                data: {
                    name: fullName
                },
                url: '/ajax/demo5',
                success: function (data) {
                    $('#result5').html(data);
                }
            });
        });

        $('#buttonSum').click(function () {
            var a = $('#a').val();
            var b = $('#b').val();
            $.ajax({
                type: 'POST',
                data: {
                    a: a,
                    b: b
                },
                url: '/ajax/demo6',
                success: function (data) {
                    $('#result6').html(data);
                }
            });
        });

        $('#buttonDemo7').click(function () {
            $.ajax({
                type: 'GET',
                url: '/ajax/demo7',
                contentType: 'application/json',
                dataType: 'json',
                success: function (product) {
                    var result = 'id: ' + product.id;
                    result += '<br>name: ' + product.name;
                    result += '<br>price: ' + product.price;
                    $('#result7').html(result);
                }
            });
        });

        $('#buttonDemo8').click(function () {
            $.ajax({
                type: 'GET',
                url: '/ajax/demo8',
                contentType: 'application/json',
                dataType: 'json',
                success: function (products) {
                    var result = '';
                    for (var i = 0; i < products.length; i++) {
                        result += '<tr>';
                        result += '<td>' + products[i].id + '</td>';
                        result += '<td>' + products[i].name + '</td>';
                        result += '<td>' + products[i].price + '</td>';
                        result += '</tr>';
                    }
                    $('#mytable tbody').html(result);
                }
            });
        });

    });

</script>

<fieldset>
    <legend>Demo 1</legend>
    <form>
        <input type="button" value="Demo 1" id="buttonDemo" />
        <br />
        <span id="result1"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 2</legend>
    <form>
        <input type="button" value="Demo 2" id="buttonDemo2" />
        <br />
        <span id="result2"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 3</legend>
    <form>
        Full Name <input type="text" id="textboxFullName" />
        <br />
        <input type="button" value="Demo 3" id="buttonDemo3" />
        <br />
        <span id="result3"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 4</legend>
    <form>
        Full Name <input type="text" id="textboxFullName4" />
        <br />
        <input type="button" value="Demo 4" id="buttonDemo4" />
        <br />
        <span id="result4"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 5</legend>
    <form>
        Full Name <input type="text" id="textboxFullName5" />
        <br />
        <input type="button" value="Demo 5" id="buttonDemo5" />
        <br />
        <span id="result5"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 6</legend>
    <form>
        A <input type="text" id="a" />
        <br />
        B <input type="text" id="b" />
        <br />
        <input type="button" value="Sum" id="buttonSum" />
        <br />
        <span id="result6"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 7</legend>
    <form>
        <input type="button" value="Demo 7" id="buttonDemo7" />
        <br />
        <span id="result7"></span>
    </form>
</fieldset>

<fieldset>
    <legend>Demo 8</legend>
    <form>
        <input type="button" value="Demo 8" id="buttonDemo8" />
        <br />
        <table id="mytable" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</fieldset>